$(".user_follow_controls<%= @user.id %>")
	.html('<%= render 'users/unfollow', user:@user %>');

$('.seguito span').html(<%= @user.followers.count %>);

<% @user=current_user %>
immagine = '<a href="<%= user_path(@user) %>"><%= render "users/profile_pic", user:@user, size:"small" %></a>';
$('.seguito').append(immagine);
$('.seguito p').remove();