$(".user_follow_controls<%= @user.id %>")
	.html('<%= render 'users/follow', user:@user %>');
	
$('.seguito span').html(<%= @user.followers.count %>);

$('.seguito a[href="/users/<%= current_user.id %>"]').remove();
<% if (@user.followers.count==0) then%>
	$('.seguito').append("<p>L'utente non ha nessun follower</p>");
<%end%>