<!-- LOGIN FORM -->
<div class="modal fade" id="loginModale" style="display:none">
	<%= form_for(:session, url: sessions_path, html: {class: "form-inline"}) do |f| %>
		<div class="modal-header">
			<a class="close" data-dismiss="modal" href="#">×</a>
			<h3>Accedi a SniffSound</h3>
		</div>
		<div class="modal-body">
			
			<div id="signup_reminder">
				<strong>Non sei registrato?</strong> Accedi con <a href="signup?p=facebook">facebook</a> o con <a href="signup?p=twitter">twitter</a>.
			</div>
			
			<% flash.each do |key, value| %>
        		<div class="alert alert-<%= key %>"><%= value %></div>
      		<% end %>
			
			<%= f.text_field :email, class: "input-large", placeholder: "Email" %>
			<%= f.password_field :password, class: "input-medium", placeholder: "Password" %>
			<label for="remember_access">Rimani connesso:  <%= check_box_tag :remember_me, 1, checked: 'checked'%></label>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" onclick="$('#loginModale').modal('hide')">Chiudi</a>
			<%= f.submit "Accedi",class: "btn btn-primary" %>
		</div>
	<% end %>
</div>
