<% style=""
	if not @visibility
		style='style=display:none'
	end%>
<article class="well event_comment" id="commento<%= comment.id %>" <%= style %>>
	
	<div class="row">
		<div class="span1">
			<% @user = comment.user %>
			<%= render 'users/profile_pic_logged', user:@user%>
		</div>
		<div class="span6">
			<span><b><%= link_to @user.fullname, user_path(@user) %></b></span>
			<p><%= comment.content %></p> 
			<p> del <%= comment.created_at.strftime('%d/%m/%Y') %>,  alle  <%= comment.created_at.strftime('%H:%M') %> </p>
		</div>
		<a href="#" class="preferito"><i class="icon-star"></i></a>
	</div>
</article>