<section class="streamline">
	<h3>Streamline</h3>
	<div id="comment_submit_event<%= @event.id %>" class="submit">
		<%= render 'comments/comment_submit', event:@event %>
	</div>
	<div id="comment_list_event<%= @event.id %>" class="well comment_list">
		<% @comments = @event.comments.order('created_at DESC')
		if not @comments.empty? 
			@visibility = true
		%>
			<%= render partial: 'comments/comment', collection:@comments, event:@event, visibility:@visibility %>
		<% end %>
	</div>
</section>
