<!-- TODO: i commenti possono avere un "like" ? io per adesso ho messo la stella in altro a destra ma non fa niente -->

<article class="user_comment_recent well">
	<div class="row">
		<div class="span1">
			<% @user = comment_user.user %>
			<% @event = comment_user.event %>
			<%= render 'users/profile_pic_logged', user:@user%>
		</div>
		<div class="span6">
			<span><b><%= link_to @event.name, event_path(@event) %></b></span>
			<p><%= comment_user.content %></p> 
			<p> del <%= comment_user.created_at.strftime('%d/%m/%Y') %>,  alle  <%= comment_user.created_at.strftime('%H:%M') %> </p>
		</div>
		<a href="#" class="preferito"><i class="icon-star"></i></a>
	</div>
</article>
