<%= form_tag('/comments', method: :post, remote: true) do %>
	<%= text_field_tag 'content', nil, placeholder: 'Scrivi qui il tuo commento!'%>
	<%= hidden_field_tag 'event_id', @event.id %>
	<%= submit_tag 'Commenta!' %>
<% end %>
