$("#comment_submit_event<%= @event.id %> form")[0].reset();
$("#comment_list_event<%= @event.id %>").prepend('<%= escape_javascript(render('comments/comment', comment: @comment, visibility: @visibility)) %>');
$("#comment_list_event<%= @event.id %> #commento<%= @comment.id %>").slideDown('medium', null);