/* Vertical Accordion Style */
.va-container{
    position:relative;
    margin:120px auto 0 auto;
    color:#fff;
    text-align: left;
}
.va-wrapper{
    width:100%;
    height:100%;
    position:relative;
    overflow:hidden;
    background:#000;
}
.va-slice{
    cursor:pointer;
    position:absolute;
    width:100%;
    left:0px;
    overflow:hidden;
}
.va-slice-1{
    background:#000 url('../about/batta.png') no-repeat center center;
}
.va-slice-2{
    background:#000 url('../about/ciampo.png') no-repeat center center;
}
.va-slice-3{
    background:#000 url('../about/vezz.png') no-repeat center center;
}
.va-slice-4{
    background:#000 url('../about/carlo.png') no-repeat center center;
}

.va-slice-color-1{
    background-color:#97c5eb;
}
.va-slice-color-2{
    background-color:#68ace5;
}
.va-slice-color-3{
    background-color:#0072cf;
}
.va-slice-color-4{
    background-color:#0039a6;
}

.va-title{
    font-family: 'CicleSemi', sans-serif;
    text-transform:uppercase;
    font-size:50px;
    margin-left:20px;
    color:#fff;
    text-shadow: 0px 0px 1px white;
}
.va-content{
    display:none;
    margin-left:25px;
}
.va-slice p{
    width: 250px;
    font-size: 18px;
    font-family:'CicleSemi',Georgia, serif;
    margin-bottom:10px;
}

.va-slice .ruolo {
    font-size: 22px;
    font-style: italic;
    font-family:'DaysRegular',Georgia, serif;
    margin-bottom: 20px;
}

.va-slice p a {
    color: #fff;
    text-decoration: none;
}
.va-slice ul{
    margin-top:20px;
}
.va-slice ul li{
    float:left;
    margin:0px 2px;
}
.va-slice ul li a{
    color:#000;
    background:#eede2f;
    padding:3px 6px;
    font-size:14px;
    font-family:'CicleSemi', sans-serif;
    text-transform:uppercase;
}
.va-slice ul li a:hover{
    background:#000;
    color:#fff;
    text-shadow:none;
}
.va-nav span{
    width:40px;
    height:25px;
    background:transparent url('../about/prev.png') no-repeat center center;
    position:absolute;
    top:-35px;
    left:50%;
    margin-left:-20px;
    text-indent:-9000px;
    opacity:0.7;
    cursor:pointer;
    display:none;
    z-index:100;
}
.va-nav span.va-nav-next{
    background-image:url('../about/next.png');
    top:auto;
    bottom:-35px;
}
.va-nav span:hover{
    opacity:1.0;
}

#tab_risultati_ricerca {
  margin-top:30px;
}

#contenuti_ricerca {

  #utenti_trovati p {
    float:left;
    margin-left: 10px;
  }
  img {
    float:left;
    clear:left;
  }
  .tab-pane {
    margin-left: 10px;
  }
}