/*
 * MAP CANVAS
 */

#map_canvas {
  margin-top:4em;
}

#map_expand {
  margin-left:0px;
  text-align: center;
  color: white;
  width: 100%;
  // height: 15px;
  margin-top:0;
  background-color: #333;
  
  i {
      margin-top:12px;
  }
  
  small {
    color: #888;
    font-size:smaller;
  }
  
  .form-inline {
    margin-top:7px;
    margin-bottom:7px;
    margin-left:5px;
    float:left;
  }
  
  i {
    width:14px;
    margin-left:auto;
    margin-right:auto;
    display:block;
  }
  
}
//DASHBOARD
.new_user_event_relationship, .edit_user_event_relationship {
  margin-bottom:0px;
}

/*
 * NEWS_BACHECA
 */
$img-dim: 55px;

div#bacheca {
  margin-top: 20px;
  width:100%;
  height: 100%;
}

//Partial dell'evento nella dashboard e nella pag prifilo
div#bacheca div.elenco_news, section.eventi {
  
  article {
    margin-bottom: 5px;
    padding: 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    
    .span4 {
      padding-left:5px;
      h3 {
        margin-top:5px;
        margin-bottom:10px;
      }
      p {
        margin-bottom: 0px;
      }
    }
    
    .poster_img {
      margin-bottom:5px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
    }
    
    .span2 {
      margin-left:0px;
    }
    
    .btn_dx > a.btn, .btn_dx > div.btn-group, .btn_dx input.btn {
      float:right;
      margin-right: 5px;
    }
    
    .btn_dx > a.btn, .btn_dx input.btn {
      width: 75px;
      margin-bottom:7px;
      
      &:first-child {
        margin-top:2px;
      }
      
      &.btn-inverse {
        margin-bottom:0px;
      }
    }
    
    .btn_dx > div.btn-group button {
      width:72px;
    }
          
    .btn_dx input.btn {
      width:97px;
      margin-top:2px;
    }
    
    a.partecipanti {
      margin-left:0px;
    }
    
    img.avatar_img {
      display: block;
      margin-right: 10px;
      float: left;
      width: $img-dim;
      height: $img-dim;
    }
    
    div.content {
      float: left;
    }
  }
}
  
div#bacheca aside {
  margin-left:10px;
  padding:5px;
  margin-top: 108px;
  margin-bottom:0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  
  h3 {
    margin-bottom:10px;
  }
  
  .utenti_suggeriti h3 {
    margin-top:20px;
  }
  
  .aside_user, .aside_event {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    height:41px;
    padding:3px;
    margin-bottom:4px;
    &:hover {
      background-color:#DDD;
    }
    img {
      width:35px;
      height:35px;
      margin-left:5px;
      margin-right:5px;
    }
  }
  
  .aside_event {
    button {
      width:48px;
      padding:3px;
      float:right;
      margin-right:5px;
      margin-top:4px;
    }
    a {
      display:inline-block;
    }
    .badge {
      float:right;
      margin-right:5px;
      margin-top:2px;
      width:10px;
    }
  }
} 
  
article.mobile {
  min-height:90px;
  h4 {
    margin-top:5px;
  }
  .poster_img {
    float:left;
    height:90px;
    width:90px;
    margin-right:20px;
  }
  div.btn-group {
    position: absolute;
    left:115px;
    bottom:7px;
    width:200px;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  article.mobile {
    display:block;
    p {
      display:none;
    }
  }
  article.desktop {
    display:none;
  }
  
  #map_canvas {
    margin-top:0px;
  }
  
  #map_expand {
    i {
      float:right;
      margin-right:15px;
    }
  }
  
  div#bacheca {
    aside {
      margin-left:0px;
    }
  }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  
  article.mobile {
    display:block;
  }
  article.desktop {
    display:none;
  }
  
  #map_canvas {
    margin-top:0px;
  }
  
  #map_expand {
    i {
      float:right;
      margin-right:35px;
    }
  }
  
  div#bacheca {
    aside {
      margin-left:0px;
    }
  }
  
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  
  div#bacheca div.elenco_news, section.eventi {
    article {
      .btn_dx > a.btn, .btn_dx input.btn {
        width: 70px;
        margin-bottom:3px;
      }
      .btn_dx input.btn {
        width:92px;
      }
      .btn_dx > div.btn-group button {
        width:67px;
      }
      .span2 {
        margin-left:3px;
      }
      .span4 {
        h3 {
          margin-top:0px;
          margin-bottom:6px;
        }
      }
    } 
  }
  
  article.mobile {
    display:none;
  }
  article.desktop {
    display:block;
  }
  
  .poster_img {
    width:56px;
    height:56px;
  }
  a.partecipanti {
    width:34px;
  }
  
  #map_canvas {
    margin-top:0px;
  }
  
  div#bacheca {
    aside {
      .aside_event, .aside_user {
        height:31px;
        img {
          height:25px;
          width:25px;
        }
      }
      .aside_event a {
          width:80px;
      }
    }
  }
}
 
@media (min-width: 980px) and (max-width: 1199px) {
  
  article.mobile {
    display:none;
  }
  article.desktop {
    display:block;
  }
  
  .poster_img {
    width:70px;
    height:70px;
  }
  a.partecipanti {
    width:48px;
  }
  
  div#bacheca {
    aside {
      .aside_event {
        a {
          width:100px;
        }
      }
    }
  }
  
} 
 
/* Large desktop */
@media (min-width: 1200px) {
  
  article.mobile {
    display:none;
  }
  article.desktop {
    display:block;
  }
  
  .poster_img {
    width:90px;
    height:90px;
  }
  a.partecipanti {
    width:68px;
  }
  
  div#bacheca {
    div.elenco_news {
      article {
        .btn_dx > a.btn, .btn_dx input.btn {
          margin-bottom:10px;
          
          &:first-child {
            margin-top:10px;
          }
        }
        .btn_dx input.btn {
          margin-top:10px;
        }
      }
    }
    aside {
      margin-left:17px;
      .aside_event {
        a {
          width:150px;
        }
      }
    }
  }
}
