/*EXPLORE*/

#map_canvas_explore {
      position: absolute;
      width: 100%;
      left: 0px;
      top: 110px;
}

.below_the_line {
  z-index: -1;
}

#filtri {
      position:absolute;
      height:69px;
      left:0;
      margin-bottom: 0px;
      margin-top: 39px;
      width: 102%;
  
  form {
    height:69px;
  }
       
  #near_to {
    margin-left:4.5%;
    float:left;
  }
  
  input[type='submit'] {
    float:right;
    margin-right:4.5%;
    width:70px;
  }
  
  #startDate, #endDate {
    float:left;
    margin-left: 5px;
  }
  
  #name, #type_of_music, #dp1 {
    margin-left:2%;
    float:left;
  }
  
  #dp2 {
    margin-left:2%;
    float:left;
  } 
  #event_range_selector {
    max-width:100px;
    height:50px;
    float:left;
    text-align:center;
    margin-left:2%;
    input {
      max-width:100%;
    }
  }
}
// #type_of_music {
  // display: none;
// }
    
/*MEDIA QUERIES*/
@media (max-width: 480px) {
  #filtri {
    margin-top:-18px;
    height: 232px;
    width:103%;
    
    form {
      height:232px;
      padding-top:8px;
    }
    
    #name {
      margin-left:17%;
    }
    #near_to, #dp1, #type_of_music, input[type='submit'] {
      margin-left:12%;
      clear:left;
    }
    #dp2 {
      margin-left:11%;
    }

    input[type='submit'] {
      float:left;
      width:60px;
    }
    
    #dp1, #dp2, #startDate, #endDate, input[type='submit'], #type_of_music {
      margin-top: 10px;
    }
    
    input[type='submit'] {
      margin-bottom: 10px;
    }
    #event_range_selector {
    max-width:50px;
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  #filtri {
    margin-top:-18px;
    height: 155px;
    width:103%;
    
    form {
      height:155px;
      padding-top:8px;
    }
    
    #name, #type_of_music {
      margin-left:4.5%;
    }
    #type_of_music {
      width:110px;
    }
    #near_to, #dp1 {
      margin-left:10%;
      clear:left;
    }
    #dp2 {
      margin-left:5.8%;
    }


    input[type='submit'] {
      float:left;
      margin-left:13%;
      width:60px;
    }
    
    #dp1, #dp2, #startDate, #endDate, input[type='submit'] {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    #event_range_selector {
    max-width:50px;
    }
  }
}

@media (min-width: 768px) and (max-width: 979px) {
    #filtri {
      margin-top:-18px;
      height: 155px;
      width:103%;
      
      form {
        height:155px;
        padding-top:8px;
      }
      
      #name, #type_of_music {
        margin-left:8.5%;
      }
      #near_to, #dp1 {
        margin-left:18%;
        clear:left;
      }
      #dp2 {
        margin-left:5.8%;
      }
  
      input[type='submit'] {
        float:left;
        margin-left:13%;
        width:60px;
      }
      
      #dp1, #dp2, #startDate, #endDate, input[type='submit'] {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
}

@media (min-width: 980px) and(max-width: 1199px) {
  
}

@media (min-width: 1200px) {
  #filtri {
    
    width:103%;
    
    #name, #type_of_music, #dp1 {
      margin-left:6.5%;
    }
    
    #dp2 {
      margin-left:5.5%;
    } 
  }
}