/*
 * HOME PAGE SLOGGATA
 */

div.border_box {
  margin-top: 6em;
  margin-bottom: 6em;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#homeCarousel {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  margin-top: 8em;
  margin-bottom: 6em;
  
  .active {
    position: relative;
  }
}

#signup-div {
    height:250px;
    padding: 75px;
    position: absolute;
    left:470px;
    top:0px;

    h1 {
      text-align:center;
      margin: 0px auto 55px auto;
    }
    
}

.twitter_signup, .facebook_signup {
  display:block;
  margin: 30px auto 30px auto;
  width: 255px;
  height: 40px;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  
  -webkit-box-shadow: black 0px 0px 10px;
  -moz-box-shadow: black 0px 0px 10px;
  box-shadow: black 0px 0px 10px;
}

.twitter_signup {
  background: url('../connect-twitter.png') -1px -3px;
}
.facebook_signup {
  background: url('../connect-facebook.png') -1px -3px;
}

#signup_reminder {
  margin-bottom: 20px;
  margin-left: 3px;
}

/*
 * HERO UNIT
 */

.hero-unit {
  text-align: center;
  padding-top: 8em;
  height: 100%;
  
  blockquote {
    margin-top: 50px;
  }
  
  h1 {
    margin-bottom:20px;
  }
  
  .btn {
    margin-top: 4em;
    margin-right: 2em;
  }
  img {
    // commentato per non far venire i pin minuscoli max-width: 100%;
  }
}

/* HOME RESPONSIVE*/
#signup-div_alt {
    display:none;
    h1 {
      text-align: center;
    }
  }

//fino a 767
@media (max-width: 767px) {
  #signup-div_alt {
    height:250px;
    padding: 75px;
    h1: {
      text-align: center;
    }
    display:block;
  }
  
  #homeCarousel {
    display:none;
  }
  
  #signup-div {
    position:static;
  }
  
  #carousel_registrati {
    display:none;
  }
  
  div#bacheca {
    aside {
      margin-top:30px;
    }
  }
  
  #page_footer {
    li:nth-of-type(2){
      margin-left:20px;
      width:140px;
    }
  }
  
}

@media (min-width: 768px) and (max-width: 979px) {

  #carousel_registrati {
    display:none;
  }

  #signup-div {
    position:static;
  }
  
  #carousel_logo {
    margin-left: -107px;
  }
}

@media (min-width: 980px) and(max-width: 1199px) {


  #carousel_registrati {
    margin-left:0px;
    display:block;
  }
  

}

@media (min-width: 1200px) {

  #carousel_registrati {
    margin-left:100px;
  }

  #carousel_logo {
    margin-left: 115px;
  }
  
  #signup-div {
    left: 630px;
  }
}
