<div id = "user_controls<%= @user.id %>" class="user_follow_controls<%= @user.id %>">
<% if !current_user?(@user)%>
	<% if signed_in? %>
			<% if not current_user.following?(@user) %>
				<%= render 'users/follow', user:@user %>
			<% else %>
				<%= render 'users/unfollow', user:@user %>
			<%end%>
		<% end %>
<% end %>
</div>