<%
	if not @user.profilepic_file_name.nil?
		if(@size=="medium")
			address = @user.profilepic.url(:medium)
		elsif(@size=="small")
			address = @user.profilepic.url(:small)
		else
			address = @user.profilepic.url(:thumb)
		end
		
		
	else
		if @user.avatar_remote_url.nil?
			address = "user_default.png"
		else
			address = @user.avatar_remote_url
		end
	end
	
%>

<%= image_tag address, class:'img_profilo', id: "logged_photo"  %>