<% @relationship = current_user.user_user_relationships.find_by_followed_id(@user.id)%>
<%= link_to "Non seguire più", user_user_relationship_path(id:@relationship.id), remote: true, id: "follow_#{@user.id}", class:"btn btn-small btn-danger", method: :delete %>