<%= provide(:title, 'Sign up') %>

<div class="row">
  <div class="span8 offset2">
  	
  	<h1 id="benvenuto">Benvenuto! Completa il tuo profilo</h1>
	
    <%= form_for(@user,html:{multipart:true}) do |f| %>
	  <%= render 'shared/error_messages', object: f.object %> <!-- visualizza i messaggi di errore -->
	  <ol>
	  	  <li>Come ti chiami e quando sei nato/a?</li><hr>
		  <%= f.text_field :fullname, placeholder: "Nome e Cognome" %>
	      <%= render 'shared/error_messages_for', object: f.object, field: :fullname %>
	      <%= f.date_select :birthdate, start_year: 1950, end_year: 2000, order: [:day, :month, :year]%>
	      <%= render 'shared/error_messages_for', object: f.object, field: :birthdate %>
	      
	      <li>Inserisci una tua foto</li><hr>
	      <%= image_tag @avatar, class: '#'%>
	      <%= f.hidden_field :avatar_remote_url, value:@avatar %>
	      <%= f.file_field :profilepic %>
		  <%= render 'shared/error_messages_for', object: f.object, field: :profilepic %> 
		  <%= f.hidden_field "avatar_remote_url", value: @user.avatar_remote_url %>
	      
	      <li>Dove abiti?</li><hr>
		  <%= f.text_field :city, placeholder: "Città"  %>
	      <%= render 'shared/error_messages_for', object: f.object, field: :city %>
	      
	      <li>Quali generi musicali preferisci?</li><hr>
	      <% Genre.all.each do |genre| %>
	      	<div class="checkbox_container">
	      		<%= check_box_tag "genre[#{genre.id}]" %>
	      		<%= label_tag "genre[#{genre.id}]", genre.name %>
	      	</div>
	      <% end %>

		  <li>Le tue credenziali di accesso</li><hr>
	      <%= f.text_field :email, placeholder: "Email" %>
	      <%= render 'shared/error_messages_for', object: f.object, field: :email %>
	      <%= f.password_field :password, placeholder: "Password" %>
	      <%= render 'shared/error_messages_for', object: f.object, field: :password %>
	      <%= f.password_field :password_confirmation, placeholder: "Conferma" %>
	      <%= render 'shared/error_messages_for', object: f.object, field: :password_confirmation %>
	      
	      
	      
	  </ol>
	  

      <%= f.hidden_field :twitter_uid %>
      <%= f.hidden_field :facebook_uid %>


      <%= f.submit "Entra in SniffSound!", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
  <script type="text/javascript">
  	$('#new_user').submit(function() {
		if ($(this).valid())
			$("input[type='submit']").button("loading");
		return true;
	});
  </script>
</div>