<%= provide(:title, @user.fullname) %>
<% @user_copy = @user %>

<%
# TODO: immagine per le band da mettere nell'aside ?
# TODO: link per i "tutti..." in un div modale ?
# TODO: comportamento dinamico quando partecipo o non partecipo più ad un evento! (es: scompare/appare, cambiano i contatori..)
%>

<%= javascript_include_tag "page-specific/regola_altezza_aside" %>

<div class="row">
	
	<div class="span7 offset1">
		<!--contenuto informazioni utente-->
		<div class="row hidden-phone" id="row_profilo">
			<div class="span2" id="foto_profilo">
				<%= render 'users/profile_pic_logged', user: @user, size: "medium"%>
			</div>
			<div class="span5" id="descr_profilo">
					<div class="info_utente">
						<h2><%= @user.fullname %></h2>
						<%
							#TODO calcolare veramente gli anni dell'utente
						%>
						<p>23 anni, <%= @user.city %></p>
					</div>
					<div class="riepilogo">
						<span class="btn btn-info disabled">
							<span><%= @number_events_created %></span>
							<br /><%
							if @events.length!=1
								%>EVENTI CREATI<%
							else
								%>EVENTO CREATO<%
							end%></span>
						<span class="btn btn-info disabled">
							<span><%= @participated_events.length %></span>
							<br /><%
							if @events.length!=1
								%>EVENTI VISSUTI<%
							else
								%>EVENTO VISSUTO<%
							end%></span>
						<span class="btn btn-info disabled">
							<span><%= @comments.length%></span>
							<br />
							COMMENTI
						</span>
					</div>
			</div>
		</div>
		<div class="row visible-phone">
			<%= render 'users/profile_pic_logged', user: @user, size: "medium"%>
			<div class="info_utente">
				<h2><%= @user.fullname %></h2>
				<p>23 anni, <%= @user.city %></p>
				<%=render partial: 'users/controls', user: @user %>
			</div>
			<div class="riepilogo">
				<span class="btn btn-info disabled">
					<span><%= @number_events_created %></span>
					<br /><%
					if @events.length!=1
						%>EVENTI CREATI<%
					else
						%>EVENTO CREATO<%
					end%></span>
				<span class="btn btn-info disabled">
					<span><%= @participated_events.length %></span>
					<br /><%
					if @events.length!=1
						%>EVENTI VISSUTI<%
					else
						%>EVENTO VISSUTO<%
					end%></span>
				<span class="btn btn-info disabled">
					<span><%= @comments.length %></span>
					<br />
					COMMENTI
				</span>
			</div>
		</div>
		<section class="commenti_recenti">
			<h3>Ultimi commenti</h3>
			<a class="more">tutti..</a>
			<%= render collection: @last_comments, partial: 'comments/comment_user' %>
		</section>
		<section class="eventi">
			<h3>Eventi</h3>
			<!--contenuto della dashboard con i miei contenuti-->
			<ul id="tab_eventi_utente" class="nav nav-tabs">
				<li class="active">
					<a href="#concerti_creati" data-toggle="tab"><%= pluralize(@events.length, "Evento") %> <%if @events.length!=1%>creati<%else%>creato<%end%></a>
				</li>
				<li>
					<a href="#concerti_partecipati" data-toggle="tab"><%= pluralize(@participated_events.length, "Evento") %> vissuti</a>
				</li>
				<li>
					<a href="#concerti_futuri" data-toggle="tab"><%= pluralize(@participating_events.length, "Evento") %> futuri</a>
				</li>
			</ul>
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade in active" id="concerti_creati">
					<div id="eventi_creati">
						<%= render @events %>
					</div>
				</div>
				<div class="tab-pane fade" id="concerti_partecipati">
					<div id="eventi_partecipazione">
						<%= render collection: @participated_events, partial: 'events/event' %>
					</div>
				</div>
				<div class="tab-pane fade" id="concerti_futuri">
					<div id="eventi_futuri">
						<%= render collection: @participating_events, partial: 'events/event' %>
					</div>
				</div>
			</div>
		</section>
	</div>
	
	<aside class="span3">
		<% if !current_user?(@user) && signed_in? %>
		<section class="hidden-phone">
			<%= render partial: 'users/controls', user: @user %>
		</section>
		<%end%>
		<section class="badges">
			<h3>Badges</h3>
			<span class="badge badge-info">6</span>
			<% 
				#STAMPO 4 BADGE PER RIGA
				n_badge = 6;
				
				#NUMERO MASSIMO DI IMMAGINI-MINIATURE PER TIPO
				max_img = 8;
				
				for i in 0..n_badge-1 do
					break if (i==max_img)
			%>
				<img src="/assets/badge.png" alt="Badge" class="badge_sniff"/>			
			<%
				end
			%>
		</section>
		<section class="elenco_immagini segue">
			<h3>Segue</h3>
			<span class="badge badge-info"><%= @followed_users.size() %></span>
			<%if (@followed_users.size == 0) then%><p>L'utente non è follower di nessuno</p><%end%>
			<% 	n_img = 0;
				if @followed_users.any? 
            		@followed_users.each do |followed_user|
               			@user = followed_user
                    	@size = "thumb" %>
                        <a href="<%= user_path(@user) %>"><%= render 'users/profile_pic', user:@user, size:@size %></a>
           	<%
           				n_img = n_img+1;
           				break if (n_img==max_img)
           			end
           		end
           	%>
		</section>
		<section class="elenco_immagini seguito">
			<h3>Seguito da</h3>
			<span class="badge badge-info"><%= @followers.size() %></span>
			<%if (@followers.size == 0) then%><p>L'utente non ha nessun follower</p><%end%>
			<%	n_img = 0;
				if @followers.any?
            		@followers.each do |seguito_da|
                		@user = seguito_da
                    	@size = "thumb" %>
                        <a href="<%= user_path(@user) %>"><%= render 'users/profile_pic', user:@user, size:@size %></a>
           	<%
           				n_img = n_img+1;
           				break if (n_img==max_img)
           			end
            	end
            	@user = @user_copy %>
		</section>
        <section class="elenco_immagini band_appartiene">
        	<h3>Nelle band</h3>
        	<span class="badge badge-info"><%= @user.bands.size() %></span>
        	<%if (@user.bands.size == 0) then%><p>L'utente non appartiene a nessuna band</p><%end%>
        	<ul>
			<% @user.bands.each do |band| %>
				<li><%= link_to band.name, band_path(band) %></li>
			<% end %>
			</ul>
        </section>
        <section class="elenco_immagini band_fan">
        	<h3>Fan delle band</h3>
        	<span class="badge badge-info"><%= @user.favourite_bands.size() %></span>
        	<%if (@user.favourite_bands.size == 0) then%><p>L'utente non è fan di nessuna band</p><%end%>
        	<ul>
			<% @user.favourite_bands.each do |band| %>
				<li><%= link_to band.name, band %></li>
			<% end %>
			</ul>
        </section>
    </aside>
</div>
