<% if object.errors[field].include? "non può essere vuota" %>
	<div class="alert alert-error">
		non può essere vuota
	</div>	
<% else
	object.errors[field].each do |error|%>
	<div class="alert alert-error">
		<%=error.titleize %>
	</div>
	<%end	
end%>	