<%
	#TODO se il titolo è lungo, non ci sta !! Valutare un'alternativa..	
%>
<div class="aside_event">
	<% if not event.nil? %>
		<%= image_tag(event.poster.url(:thumb)) %>
		<%= link_to event.name, url_for(event) %>
		<button class="btn btn-inverse disabled hidden-tablet">
		  	<%= event.user_event_relationships.count %> 
			<i class="icon-user icon-white"></i>
		</button>
		<span class="badge visible-tablet"><%= event.user_event_relationships.count %></span>
	<% end %>
</div>
