<% if current_user?(@event.user)%>
<section class="admin_controls">
	<h3>Amministratore</h3>
	<% if @event.datetime.future? %>
		<%= link_to "Modifica", edit_event_path(@event), class:"btn btn-inverse" %>
	<%end%>
	<%= link_to "Elimina", event_path(@event), class:"btn btn-danger", method: :delete, confirm: "Sei sicuro di voler cancellare l'evento ?" %>
	<%
		#TODO bisognerebbe reindirizzare la pagina!
	%>
</section>
<% end %>