<% if signed_in? %>
	<a class="btn btn-primary hidden-phone" href="#">Condividi</a>
	<button class="btn btn-primary visible-phone"><i class="icon-share icon-white"></i></button>	
<% end
   if current_user?(event.user) %>
	<div class="btn-group hidden-phone">
		<button class="btn btn-primary">Azioni</button>
		<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
	    	<span class="caret"></span>
	  	</a>
	  	<ul class="dropdown-menu">
  		<% if event.datetime.future? %>
	    	<%= link_to "Modifica", edit_event_path(event) %>
	    <%end%>
	    	<%= link_to "Elimina", event_path(event), method: :delete, confirm: "Sei sicuro di voler cancellare l'evento?" %>
    	<%
    		#TODO non è meglio ricaricare la pagina dopo un delete ?
    	%>
	  	</ul>
	</div>
	<button class="btn btn-primary visible-phone"><i class="icon-edit icon-white"></i></button>
	<button class="btn btn-primary visible-phone"><i class="icon-trash icon-white"></i></button>
<% else %>
	<a class="btn btn-inverse hidden-phone" href="#">Segnala</a>
	<button class="btn btn-inverse visible-phone"><i class="icon-exclamation-sign icon-white"></i></button>
<%end%>