<% if !current_user?(@event.user) && signed_in? %>
<div id = "event_controls<%= @event.id %>" class="events_partecipate">
	<% if not current_user.participating?(@event) 
		%><%= render 'events/participate', event:@event %><% 
			else
				%><%= render 'events/unparticipate', event:@event %><%
			end
	%>
</div>
<% end %>