<%
	#TODO il Condividi e il Segnala non fanno niente per adesso !!
	#TODO bisogna mettere anche la data e l'ora (se non anche il luogo)
%>


<article class="well desktop" id="event<%= event.id %>">
	<div class="row">
		<div class="span1">
			<%= image_tag(event.poster.url(:thumb), :class => "poster_img")%>
			<a class="btn btn-inverse span1 disabled partecipanti"><%= event.user_event_relationships.count %> <i class="icon-user icon-white"></i></a>	
		</div>
		<div class="span4">
			<h3><%= link_to event.name, url_for(event) %></h3>
			<p><%= event.description %></p>	
		</div>
		<div class="span2">
			<div class="btn_dx">
				<%= render 'events/participate_form', event: event %>
				<%= render 'events/controls', event: event%>
			</div>
		</div>
	</div>
</article>

<article class="well mobile" id="event<%= event.id %>">
	<%= image_tag(event.poster.url(:thumb), :class => "poster_img")%>
	<div>
		<h4><%= link_to event.name, url_for(event) %></h4>
		<p><%= event.description %></p>
		<div class="btn-group">
		  <button class="btn btn-inverse disabled partecipanti">
		  	<%= event.user_event_relationships.count %> 
			<i class="icon-user icon-white"></i>
		  </button>
		  <%= render 'events/participate_form', event: event %>
		  <%= render 'events/controls', event: event%>
		</div>
	</div>
</article>