<% if signed_in? %>
	<div class="participate_form">
	  <% if current_user.participating?(event) %>
	    <%= render 'events/unparticipate', event:event %>
	  <% else %>
	    <%= render 'events/participate', event:event %>
	  <% end %>
	</div>
<% end %>
