<%= form_for(current_user.user_event_relationships.build(event_id: event.id), remote: true) do |f| %>
	<div><%= f.hidden_field :user_id %></div>
	<div><%= f.hidden_field :event_id %></div>
	<%= f.submit "Parteciperò", class: "btn btn-success hidden-phone" %>
	<button class="btn btn-success visible-phone" name="commit" type="submit">
		<i class="icon-ok-sign icon-white"></i>
	</button>
<% end %>