<%= form_for(current_user.user_event_relationships.find_by_event_id(event.id), html: { method: :delete }, remote: true) do |f| %>
	<%= f.submit "Non ci sarò", class:"btn btn-danger hidden-phone" %>
	<button class="btn btn-danger visible-phone" name="commit" type="submit">
		<i class="icon-remove-sign icon-white"></i>
	</button>
<% end %>