<% provide(:title, 'Modifica: '+@event.name) %>

<script type="text/javascript">
	var bands_array = <%= @bands %>;
	var array_partecipanti = 
	<% if not @bands_participating.nil? %>
	<%= @bands_participating %>
	<% else %>
	""
	<% end %>
	;
</script>

<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuulkUMBp1rAktufB1bBOhaDwyQ3yog0I&sensor=true"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places" type="text/javascript"></script>

<%= javascript_include_tag "page-specific/mappa_edita_evento" %>
<%= javascript_include_tag "page-specific/bootstrap-datepicker" %>
<%= javascript_include_tag "page-specific/aggiungi_band" %>

<div class="row">
	<div class="span8 offset2">
		<h1>Modifica Evento: "<%= @event.name %>"</h1>
		<%= form_for(@event,html:{multipart:true}) do |f| %>
			<%= render 'shared/error_messages', object: f.object %> <!-- visualizza i messaggi di errore -->
			<%= render 'shared/error_messages_for', object:f.object, field: :base%>
		<ol>
			<li>Nome e descrizione dell'evento</li><hr>
			<%= f.text_field :name, placeholder:"Nome dell'evento" %>
			<%= render 'shared/error_messages_for', object: f.object, field: :name %>
			<%= f.text_area :description, placeholder:"Descrizione", cols: 30, rows: 5 %>
			<%= render 'shared/error_messages_for', object: f.object, field: :description %>
				
			<li>Data e Ora</li><hr>
			<!-- Input data con Datepicker -->
			<a href="#" class="btn span2" id="dp_new" data-date-format="dd/mm/yyyy" data-date=<%= @date %>>Scegli il giorno</a>
			<div id="giorno">
				<label class="btn btn-info disabled"><%= @date %></label>
			</div>
			<%= hidden_field_tag :giornoHidden, @date %>
			
			<!-- Input ora con Timepicker -->
           	<input placeholder="Show as dropdown" class="input-small" id="dropdown-timepicker" type="text" value="<%=@hour%>:<%=@minute%>:<%=@meridian%>" />
            <%= render 'shared/error_messages_for', object: f.object, field: :datetime%>
            <%= hidden_field_tag :oreHidden%>
            <%= hidden_field_tag :minutiHidden%>
            <li>Luogo</li><hr>
			<input id="searchTextField" onkeypress="return blocca_enter(event)" placeholder="Cerca un Luogo" type="text" size="50">
			<div id="show_hide_pin">
				<input id="nascondi" type=button value="Nascondi Pin"/>
				<input id="mostra" type=button value="Mostra Pin"/>
			</div>
			<div id="map-canvas-edit_event"></div>
			<%= f.hidden_field :lat %>
			<%= render 'shared/error_messages_for', object: f.object, field: :lat %>
			<%= f.hidden_field :lon %>
			<%= render 'shared/error_messages_for', object: f.object, field: :lon %>

			<li>Band partecipanti</li><hr>
			<div class="row">
				<input type="text" id="band_search" placeholder="Filtra fra tutte le band...">
			</div>
	
			<div class="row">
				<div class="elenco_band well span3" id="partecipanti">
					<ul></ul>
				</div>
				<div class="elenco_band well span3" id="elenco_completo">
					<ul></ul>
				</div>
			</div>
			
			<li>Poster</li><hr>
			<%= image_tag(@event.poster.url(:thumb), :class => "avatar_img")%>
			<%= f.file_field :poster %>
			<%= render 'shared/error_messages_for', object: f.object, field: :poster %>

		</ol>
		<%= f.submit "Salva modifiche", class:"btn btn-large btn-primary" %>
		
		<script type="text/javascript" charset="utf-8">
			$('#dropdown-timepicker').timepicker({
				defaultTime : 'value',
				minuteStep : 5,
				disableFocus : true,
				template : 'dropdown'
			});	
			$('.edit_event').submit(function() {
				// $('#oreHidden').prop('value', $('#dropdown-timepicker').hour);
				// this.setValues(time);
				var testo = $('#dropdown-timepicker').val();
				var ore = parseInt(testo.substring(0, 2));
				var minuti = parseInt(testo.substring(3, 5));
				var isAm = testo.substring(6, 8) === 'AM';
		
				if (isAm === false)
					ore = ore + 12;

				$('#oreHidden').val(ore);
				$('#minutiHidden').val(minuti);
				
				if ($(this).valid())
					$("input[type='submit']").button("loading");
		
				return true;
			});
		</script>	

		<% end %>
	</div>
	
</div>