var events_posters = <%= @events_posters.to_json.html_safe %>;
var events_array = JSON.parse('<%= @events_array %>');
var vicino_lat = <%= @vicino_lat.to_json.html_safe %>;
var vicino_lon = <%= @vicino_lon.to_json.html_safe %>;
search_callback();
