<% provide(:title, @event.name) %>
<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuulkUMBp1rAktufB1bBOhaDwyQ3yog0I&sensor=true">
</script>

<%= javascript_include_tag "page-specific/mappa_evento_specifico"%>

<div class="row">
	<!-- PARTE SINISTRA -->
	<div class="span7 offset1">
		<!-- versione desktop -->
		<div class="row hidden-phone" id="row_evento">
			<div class="span2" id="foto_evento">
				<%
					#TODO immagine associata all'evento !
				%>
				<% @user = current_user%>
				<%= image_tag(@event.poster.url(:medium), :class => "poster_medium_img")%>
			</div>
			<div class="span5" id="descr_evento">
				<div class="info_evento">
					<h2><%= @event.name %></h2>
				</div>
				<%
					#TODO riempire il riepilogo bene!
				%>
				<div class="riepilogo">
				<% if @is_future%>
					<span class="btn btn-warning disabled long">
						<span>DATA: <%= @date%></span>
						<br />ORA: <%=@hour%>:<%=@minute%></span>
					<span class="btn btn-warning disabled">
						<span><%=@event.participating_users.count%></span>
						<br />PARTECIPANTI</span>
				<% else %>
					<span class="btn btn-warning disabled">
						<span>TOT</span>
						<br />CHECK-IN</span>
					<span class="btn btn-warning disabled">
						<span>TOT</span>
						<br />COMMENTI</span>
					<span class="btn btn-warning disabled">
						<span>TOT</span>
						<br />FOTO</span>
				<% end %>
				</div>
			</div>
		</div>
		
		<!-- versione mobile -->
		<div class="row visible-phone">
			<%= image_tag(@event.poster.url(:medium), :class => "poster_medium_img")%>
			<div class="info_evento">
				<h2><%= @event.name %></h2>
				<% if @is_future%>
					<%= render partial: 'events/controls_participate', event: @event %>
				<% end %>
			</div>
			<div class="riepilogo">
				<% if @is_future%>
					<span class="btn btn-warning disabled long">
						<span>DATA: <%= @date%></span>
						<br />ORA: <%=@hour%>:<%=@minute%></span>
					<span class="btn btn-warning disabled">
						<span><%=@event.participating_users.count%></span>
						<br />PARTECIPANTI</span>
				<% else %>
					<span class="btn btn-warning disabled">
						<span>TOT</span>
						<br />CHECK-IN</span>
					<span class="btn btn-warning disabled">
						<span>TOT</span>
						<br />COMMENTI</span>
					<span class="btn btn-warning disabled">
						<span>TOT</span>
						<br />FOTO</span>
				<% end %>
				</div>
		</div>
		
		<% if @is_future%>
		<section class="mappa">
			<h3>Dove</h3>
			<%=hidden_field_tag 'lat_hidden', @event.lat%>
			<%=hidden_field_tag 'lon_hidden', @event.lon%>
			<div id="mappa_evento"></div>
		</section>
		<% end %>
		<section class="event_description">
			<h3>Descrizione</h3>
			<p><%= @event.description %></p>
		</section>
		<% if !@is_future %>
			<%= render 'comments/comments', event:@event %>
		<% end %>
	</div>
	
	<!-- PARTE DESTRA -->
	<aside class="span3">
		<% if !current_user?(@event.user) && signed_in? && @is_future %>
		<section class="hidden-phone">
			<%= render partial: 'events/controls_participate', event: @event %>
		</section>
		<%end %>
		<section class="creato_da">
			<h3>Creato da</h3>
			<article>
				<a href="<%= user_path(@event.user) %>"><%= render 'users/profile_pic', user:@event.user, size:@size %></a>
				<p class="nome_membro"><b><%= link_to @event.user.fullname, user_path(@event.user) %></b></p>
				<p class="ruolo_membro"><a style="color:#bbb;" href="mailto:<%=@event.user.email%>">scrivi email</a></p>
			</article>
		</section>
		<section class="band_partecipanti elenco_immagini">
			<span class="badge badge-warning"><%=@event.bands.count%></span>
			<h3>Band presenti</h3>
			<ul>
				<% @event.bands.all.each do |band| %>
				<li><%= link_to band.name, band_path(band) %></li>
				<% end %>
			</ul>
		</section>
		<section class="utenti_partecipanti elenco_immagini">
			<h3>Partecipanti</h3>
			<span class="badge badge-warning"><%=@event.participating_users.count%></span>
			<%
			max_img = 8;
			
			if (@event.participating_users.size == 0) then
				%><p>Nessun partecipante</p><%
			end
			
			n_img = 0;
			if @event.participating_users.any? 
           		@event.participating_users.each do |partecipante|
           			@user = partecipante
                  	@size = "thumb" %>
                        <a href="<%= user_path(@user) %>"><%= render 'users/profile_pic', user:@user, size:@size %></a>
           	<%
           				n_img = n_img+1;
           				break if (n_img==max_img)
           			end
           		end
           	%>
		</section>
		<% if !@is_future %>
		<section class="mappa">
			<h3>Dove</h3>
			<%=hidden_field_tag 'lat_hidden', @event.lat%>
			<%=hidden_field_tag 'lon_hidden', @event.lon%>
			<div id="mappa_evento"></div>
		</section>
		<% end %>
		<section class="share_controls">
			<h3>Share</h3>
			<a href="#" class="btn btn-warning">Invita</a>
			<a href="#" class="btn btn-warning">Condividi</a>
		</section>
		<%= render partial: 'events/controls_edit', event: @event %>
	</div>

</div>