<% provide(:title, @event.name) %>
<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuulkUMBp1rAktufB1bBOhaDwyQ3yog0I&sensor=true">
</script>

<%= javascript_include_tag "page-specific/mappa_evento_specifico"%>

<div id="event<%= @event.id %>">
<% if @is_future%>
<!-- EVENTO FUTURO LAYOUT-->
<div class="row" id="header_evento">
	<div class="span3 offset2">
		<%= image_tag(@event.poster.url(:medium), :class => "poster_medium_img poster_evento")%>
	</div>
	<div class="span2">
		<div id="azioni_evento">
			<%= render 'events/participate_form', event: @event %>
			<button class="btn btn-large btn-primary">Condividi</button>
			<button class="btn btn-large btn-primary">Invita</button>
		</div>
	</div>
	<div class="span3">
		<%=hidden_field_tag 'lat_hidden', @event.lat%>
		<%=hidden_field_tag 'lon_hidden', @event.lon%>
		<div id="mappa_evento"></div>
	</div>
</div>
<div class="row">
	<div class="offset2 span8" id="linea"></div>
</div>
<div class="row" id="evento_titolo_descrizione_futuro">
	<div class="span5 offset2">
		<h2><%= @event.name %></h2>
		<div id="modifica_elimina_concerto">
			<%= render 'events/controls', event: @event%>
		</div>
		<p>di <%= link_to @event.user.fullname, user_path(@event.user) %> <small>(<%= @event.user.email %>)</small></p>
		<h3>il <%= @date%> alle <%=@hour%>:<%=@minute%></h3>
		<p><%= @event.description %></p>
		<h3>Band Partecipanti:</h3>
		<ul>
		<% @event.bands.all.each do |band| %>
			<li></label><h3><%= link_to band.name, band_path(band) %></h3></li>
		<% end %>
		</ul>
	</div>
	<div class="span3">
		<div class="info_follow">
			<h3 class="label label-info">Parteciperanno: <a href="">more</a></h3>
			<div class="contenitore_fan">
				<!--Tutti i partecipanti -->
				<% if @event.participating_users.any? 
					@event.participating_users.each do |user|
						@user = user
						@size = "small" %>
						<a href="<%= user_path(user) %>"><%= render 'users/profile_pic', user: @user, size: @size %></a>
				<%end%>
			<%end%>	
			</div>
		</div>
	</div>
</div>

<% else %>
<!-- EVENTO PASSATO LAYOUT-->
<div class="row" id="header_evento">
	<div class="span10 offset1">
		<%= image_tag(@event.poster.url(:medium), :class => "poster_medium_img poster_evento")%>
		<div id="evento_titolo_descrizione_passato">
			<h2><%= @event.name %></h2>
			<p>di <%= link_to @event.user.fullname, user_path(@event.user) %></p>
			<p>il <%= @date%> alle <%=@hour%>:<%=@minute%></p>
			<p><%= @event.description %></p>
			<h3>Band Partecipanti:</h3>
			<ul>
			<% @event.bands.all.each do |band| %>
				<li></label><%= link_to band.name, band_path(band) %></li>
			<% end %>
			</ul>
		</div>

		<%=hidden_field_tag 'lat_hidden', @event.lat%>
		<%=hidden_field_tag 'lon_hidden', @event.lon%>
		<div id="mappa_evento"></div>
	</div>
</div>
<div class="row">
	<div class="offset1 span10" id="linea"></div>
</div>
<div class="row" id="contenuti_evento">
	<div class="span7 offset1">
		<%= render 'comments/comments', event:@event %>
	</div>
	
	<div class="span3">
		<div class="row">
			<div id="contenuti_evento_bottoni">
				<button class="btn btn-small btn-primary">19<br />CHECK-IN</button>
				<button class="btn btn-small btn-primary">35<br />COMMENTI</button>
				<button class="btn btn-small btn-primary">11<br />FOTO</button>
			</div>
		</div>
		<div class="row">
			<h2 class="label label-info">Foto in evidenza</h2>
			<p>Da popolare con le foto più viste</p> 
		</div>
		<div class="row">
			<h2 class="label label-info">Commenti in evidenza</h2>
			<p>Da popolare con i commenti più letti</p> 
		</div>
	</div>
</div>

<% end %>
</div>
