$(".band_controls_fan").each(function(index) {
	$(this).html('<%= render 'bands/unfan', band:@band %>')
});
$('.fan span').html(<%= @band.fans.size %>);
<% @user=current_user %>
immagine = '<a href="<%= user_path(current_user) %>"><%= render "users/profile_pic", user:@user, size:"small" %></a>';
$('.fan').append(immagine);
$('.fan p').remove();