$(".band_controls_fan").each(function() {
	$(this).html('<%= render 'bands/fan', band:@band %>');
});
$('.fan span').html(<%= @band.fans.size %>);
$('.fan a[href="/users/<%= current_user.id %>"]').remove();
<% if (@band.fans.count==0) then%>
	$('.fan').append("<p>La band non ha nessun fan</p>");
<%end%>