<% provide(:title, 'About') %>
<%= javascript_include_tag "page-specific/about" %>

<div id="va-accordion" class="va-container">
	<div class="va-nav">
		<span class="va-nav-prev">Previous</span>
		<span class="va-nav-next">Next</span>
	</div>
	<div class="va-wrapper">
		<div class="va-slice va-slice-1">
			<h3 class="va-title">Back-end</h3>
			<div class="va-content">
				<p class="ruolo">
					Daniele Battaglino
				</p>
				<p>
					<a href="mailto:daniele.battaglino@gmail.com">daniele.battaglino@gmail.com</a>
				</p>
				<p>
					<a href="/pdf/battaglino-curriculum.pdf" target="blank">curriculum</a>
				</p>
			</div>
		</div>
		<div class="va-slice va-slice-2">
			<h3 class="va-title">Js &amp; Responsive</h3>
			<div class="va-content">
				<p class="ruolo">
					Marco Ciampini
				</p>
				<p>
					<a href="mailto:marco.ciampo@gmail.com">marco.ciampo@gmail.com</a>
				</p>
				<p>
					<a href="/pdf/ciampini-curriculum.pdf" target="blank">curriculum</a>
				</p>
			</div>
		</div>
		<div class="va-slice va-slice-4">
			<h3 class="va-title">Back-end</h3>
			<div class="va-content">
				<p class="ruolo">
					Carlo Andrea Conte
				</p>
				<p>
					<a href="mailto:carloconte@me.com">carloconte@me.com</a>
				</p>
				<p>
					<a href="/pdf/conte-curriculum.pdf" target="blank">curriculum</a>
				</p>
			</div>
		</div>
		<div class="va-slice va-slice-3">
			<h3 class="va-title">Maps &amp; Layouts</h3>
			<div class="va-content">
				<p class="ruolo">
					Andrea Vettori
				</p>
				<p>
					<a href="mailto:andrevezz@gmail.com">andrevezz@gmail.com</a>
				</p>
				<p>
					<a href="/pdf/vettori-curriculum.pdf" target="blank">curriculum</a>
				</p>
			</div>
		</div>
	</div>

</div>