<% provide(:title, 'Dashboard') %>

<% @extra_head_content = capture do %>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBYfFMXVVppce1cI3mX2nxCYTfHRM7JVfA&sensor=true">
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places" type="text/javascript"></script>
	<script type="text/javascript">
		function parseJSON() {
			return <%= @events_array %>;
		}
		var events_posters = <%= @events_posters %>;
	</script>
	
	<%= javascript_include_tag "page-specific/mappa_dashboard" %>
	
<% end %>
<div class="row">
	<div class="span10 offset1">
		<div id="map_canvas" style="width:100%; height:200px"></div>
		<div id="map_expand" class="unexpanded row">
			<form class="form-inline">
				<input type="text" class="input-large" placeholder="Cerca un luogo sulla mappa.."
					id="searchTextField" onkeypress="return blocca_enter(event)">
<!-- 			  	<button type="submit" class="btn">Vai!</button> -->
			</form>
			<i class="icon-chevron-down icon-white"></i>
		</div>
	</div>	
</div>

<div id="bacheca" class="row">
	
	<div class="elenco_news span7 offset1">
		<h2>Ultimi Eventi Aggiunti:</h2>
		<%= will_paginate @events %>
		<%= render partial: "events/event", collection: @events %>
		<%= will_paginate @events %>
	</div>
	
	<%
		#TODO fare delle query per mettere davvero eventi e utenti consigliati!
		#TODO more in ajax al posto del paginate
		#TODO more per troncare testi troppo lunghi
		#TODO valutare un comportamento responsive migliore per gli elemento nell'aside (es: sparisce l'immagine)
	%>
	<aside class="span3 well" >
		<div class="eventi_consigliati">
			<h3>Eventi Consigliati</h3>
			<%= render 'events/aside_event', event:@events[0] %>
			<%= render 'events/aside_event', event:@events[1] %>
			<%= render 'events/aside_event', event:@events[2] %>
		</div>
		<div class="utenti_suggeriti">
			<h3>Utenti Suggeriti</h3>
			<%= render 'users/aside_user' %>
			<%= render 'users/aside_user' %>
			<%= render 'users/aside_user' %>
		</div>
	</aside>
	
</div>
