<% provide(:title, 'Ricerca Eventi') %>

<% @extra_head_content = capture do %>
	<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuulkUMBp1rAktufB1bBOhaDwyQ3yog0I&sensor=true"></script>
    <script  type="text/javascript"
    	src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
      
	<%= javascript_include_tag "page-specific/mappa_explore" %>
	<%= javascript_include_tag "page-specific/bootstrap-datepicker" %>
	<%= javascript_include_tag "page-specific/datepicker_explore" %>
	
<% end %>

<%
	#TODO: LAYOUT DA RITOCCARE DOPO LO SLIDER
%>
	<div class="row" id="filtri">
		<%= form_tag search_events_path, method: 'get', remote:true, id:'form_filtri', class: 'well form-inline' do%>
					<%= text_field_tag :near_to, params[:near_to],  placeholder: 'Vicino a...', class: 'offset1 input-small', onKeyPress: "return blocca_enter(event)" %>
					<div id="event_range_selector">
						<%= range_field_tag :distance, 30, min:0, max:5, step:0.01 %>
						<%= label_tag :distance, 'Distance'%>
					</div>
					<%= text_field_tag :name, params[:name],  placeholder: 'Nome evento', class: 'input-small' %>
					
						<%= select_tag :type_of_music, 
						 				options_from_collection_for_select(Genre.all, "id", "name"),
						 				class: "input-medium",
						 				prompt: "Genere" %>
					
					<a href="#" class="btn" id="dp1" data-date-format="dd/mm/yyyy" data-date="<%= Date.current.strftime('%d/%m/%Y')%>">Da:</a>
					<label id="startDate" class="btn btn-info disabled">startDate</label>
					<%= hidden_field_tag :startDateHidden%>
					<a href="#" class="btn small " id="dp2" data-date-format="dd/mm/yyyy" data-date="<%= Date.current.strftime('%d/%m/%Y')%>">A:</a>
					<label id="endDate" class="btn btn-info disabled">endDate</label>
					<%= hidden_field_tag :endDateHidden%>
					
					<%= hidden_field_tag :vicino_lat%>
					<%= hidden_field_tag :vicino_lon%>
					
					<%= submit_tag "Cerca", name: nil, class: 'btn btn-inverse' %>
			<% end %>
	</div>
	
    <div id="map_canvas_explore"></div>