<% provide(:title, 'Home') %>

<%= javascript_include_tag "page-specific/carousel_responsive" %>

<div id="homeCarousel" class="carousel">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="item active">
    	<%= image_tag("carousel/SniffSound_Logo.png", id: "carousel_logo") %>
    </div>
    <div class="item">
    	<%= image_tag("carousel/mappa-940.png", id: "carousel_trova") %>
    	<div class="carousel-caption">
    		<h4>Trova gli eventi !</h4>
    		<p>Con una comoda ricerca trovi i prossimi eventi più vicini.</p>
    	</div>
    </div>
    <div class="item">
    	<%= image_tag("carousel/condividi-940.png", id: "carousel_condividi")%>
    	<div class="carousel-caption">
    		<h4>Condividi la tua esperienza e interagisci !</h4>
    		<p>Commenti, foto... e interazioni dal vivo ! <%= link_to "Di più", "#" %></p>
    	</div>
    </div>
    <div class="item">
    	<%= image_tag("carousel/rivivi-940.png", id: "carousel_rivivi")%>
    	<div class="carousel-caption">
    		<h4>Rivivi le emozioni !</h4>
    		<p>Con SniffSound puoi ritrovare tutti i contenuti relativi agli eventi passati. Senza ulteriori ricerche nel web !></p>
    	</div>
    </div>
    <div class="item">
    	<%= image_tag("carousel/Vinile_left.png", id: "carousel_registrati")%>
		<div id="signup-div">
			<h1>Registrati ora!</h1>
			<a href="signup?p=twitter" class="twitter_signup"></a>
			<a href="signup?p=facebook" class="facebook_signup"></a>
		</div>
	</div>
  </div>
  
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#homeCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#homeCarousel" data-slide="next">&rsaquo;</a>
  
</div>

<div id="signup-div_alt">
	<h1>Registrati ora!</h1>
	<a href="signup?p=twitter" class="twitter_signup"></a>
	<a href="signup?p=facebook" class="facebook_signup"></a>
</div>

<% flash.each do |key, value| %>
	<!-- trovato un errore, faccio comparire il popup javascript -->
	<script>
		$('#loginModale').modal('show');
	</script>
<% end %>
