<%= provide(:title, 'Risultati della Ricerca') %>
<div class="row">
	<div class="span8 offset2">
		<h1><%= pluralize(@tot, "risultato") %></h1> <!-- pluralize in italiano -->
		<ul id="tab_risultati_ricerca" class="nav nav-tabs">
			<li class="active">
				<a href="#utenti_trovati" data-toggle="tab"><%= pluralize(@users.length, "Utente") %></a>
			</li>
			<li>
				<a href="#band_trovate" data-toggle="tab"><%=@bands.length %> Bands</a>
			</li>
			<li>
				<a href="#eventi_trovati" data-toggle="tab"><%= pluralize(@events.length, "Evento") %></a>
			</li>
		</ul>
		<div id="contenuti_ricerca" class="tab-content">
			<div class="tab-pane fade in active" id="utenti_trovati">
				<% if @users.any? %>
					<% @users.each do |found_user|%>
						<!--Qui si possono creare partial (come se fosse una lista di biglietti da visita) -->
						<% @user = found_user %>
						<% @size = "small" %>							
						<a href="<%= user_path(@user) %>"><%= render 'users/profile_pic', user: @user, size: @size %></a>
						<p><%= link_to found_user.fullname, found_user %></p>
					<%end%>	
				<%end%>
			</div>
			<div class="tab-pane fade" id="band_trovate">
				<% if @bands.any? %>
					<% @bands.each do |band|%>
						<p><%= link_to band.name, band %></p>
					<%end%>	
				<%end%>
			</div>
			<div class="tab-pane fade" id="eventi_trovati">
				<% if @events.any? %>
					<% @events.each do |event|%>
						<p><%= link_to event.name, event %> <small>di <%=event.user.fullname%></small></p>
					<%end%>	
				<%end%>
			</div>
		</div>
	</div>
	
</div>