//LAYOUT DELLA PAGINA SHOW BAND
//tutto il resto del css sta in user_show, visto la somiglianza del layout

#bio_band {
  margin-top:20px;
  margin-bottom:20px;
}

section.membri {
  position:relative;
  span.badge {
      position:absolute;
      top:3px;
      right:4px;
  }
  article {
    img {
      height:60px;
      float:left;
      margin-right:10px;
    }
    padding-bottom:7px;
    margin-bottom: 7px;
    &:last-child {
      border:none;
    }
    // border-bottom:1px solid #ccc;
    .nome_membro {
      padding-top:9px;
      margin-bottom:5px;
      color:black;
    }
    p.ruolo_membro {
      margin-bottom:9px;
      color:#bbb;
    }
  }
}

section.admin_controls {
  a {
    width:85px;
  }
}

@media (max-width:767px) {
  div.row.visible-phone .riepilogo > span.btn br {
    display:block;
  }
  section.admin_controls {
    float:left;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  
  #row_band .riepilogo > span.btn br {
    display:block;
  }
  
  section.membri {
    article {
      .nome_membro {
        padding-top:0px;
        margin-bottom:3px;
      }
    }
  }
  section.admin_controls {
    a:nth-of-type(1) {
      margin-bottom:8px;
    }
  }
}

@media (min-width:1200px) {
  section.admin_controls {
    a {
      margin-left:15px;
    }
  }
}
