/*
 * FORM CREAZIONE E MODIFICA DELLE BAND
 */

.new_band, .edit_band{
  margin-top:20px;
  
   input {
     float:left;
     margin-bottom:15px;
   }
  
  #band_description {
    margin-left:0px;
    padding:4px;
    clear:left;
  }
  
  .aggiungi_membro {
    margin-left: 20px;
    font-size: 15px;
  }
  
  .user_autocompletion {
    float: left;
    clear:left;
    margin-right: 5px;
  }
  
  .user_role {
    float:left;
  }
  
  .togli_membro {
    float: left;
    margin-left: 15px;
  }
  
  hr {
    margin: 5px 0px 10px 0px;
  }
  
  ul>li {
    
    position:relative;
    margin-top:18px;
    
    input:last-child {
      position:absolute;
      left:250px;
      top:-15px;
      // margin-left: 20px;
      margin-top:8px;
    }
  }
  
  ol>li {
    clear:both;
    margin-top: 15px;
    font-size: 20px;
    font-weight: normal;
  }
  
  input, .togli_membro {
    margin-bottom:15px;
  }
  
  #band_description{
    display:block;
  }
  
  div.checkbox_container {
    
    width: 130px;
    display: inline-block;
    
    input[type="checkbox"] {
      float: left;
      margin-right:10px;
    }
    
    label {
      float: left;
      margin-right: 10px;
    }
    
  }
  
  input[type="submit"] {
    clear:both;
    display:block;
    margin:40px 30px 30px auto;
    float:none;
  }
  
  .alert-error {
    margin-left: 20px;
    display:inline-block;
    float: left;
    padding: 4px 14px;
  }
  
  #error_explanation {
    .alert-error {
      display:block;
      float: none;
    }
  } 
}

@media (max-width: 767px) {
  .new_band, .edit_band {
    ul>li>input:last-child {
      position:static;
    } 
  }
}
