<% if current_user?(@band.administrator)%>
<section class="admin_controls">
	<h3>Amministratore</h3>
	<%= link_to "Modifica band", edit_band_path(@band), class:"btn btn-inverse" %>
	<%= link_to "Elimina band", band_path(@band), class:"btn btn-danger", method: :delete, confirm: "Sei sicuro di voler cancellare la band ?" %>
	<%
		#TODO bisognerebbe reindirizzare la pagina!
	%>
</section>
<% end %>
