<% if !current_user?(@band.administrator) && signed_in? %>
<div class="band_controls_fan" id = "band_controls<%= @band.id %>">
	<% if not current_user.fan?(@band) 
		%><%= render 'bands/fan', band:@band %><% 
			else
				%><%= render 'bands/unfan', band:@band %><%
			end
	%>
</div>
<% end %>