<% @relationship = @band.fan_band_relationships.find_by_user_id(current_user.id) %>
<%= link_to "Non sono più fan", fan_band_relationship_path(id:@relationship.id), remote: true, id: "diventa_fan_#{@band.id}", class:"btn btn-small btn-warning", method: :delete %>