<% provide(:title, 'Modifica: '+@band.name) %>
<div class="row">
	<div class="span8 offset2">
		<h1>Modifica <%= @band.name %></h1>
		<%= form_for(@band) do |f| %>
			<%= render 'shared/error_messages', object: f.object %> <!-- visualizza i messaggi di errore -->
			<ol>
				<li>Nome e descrizione della band</li><hr>
				<%= f.text_field :name, placeholder:"Nome della band" %>
				<%= render 'shared/error_messages_for', object: f.object, field: :name %>
				
				<%= f.text_area :description, placeholder:"Descrizione", cols: 30, rows: 5 %>
				<%= render 'shared/error_messages_for', object: f.object, field: :description %>
				
				<li>Il tuo ruolo nella band</li><hr>
				<%= text_field_tag "role", @band.administrator_role, placeholder: "Amministratore" %>
				<li>Modifica i membri della band:</li>
				<ul>
					<% @band.members.each do |member| %>
						<% if not member.id == @band.administrator.id %>
							<li>Elimina: <%= check_box_tag "delete_member[#{member.id}]"%> <%= member.fullname %> <%= text_field_tag "member_role[#{member.id}]", @band.user_band_relationships.find_by_user_id(member.id).role %></li>
						<% end %>
					<% end %>
				</ul>
				<%
					#TODO meglio il layout dei punti elenco dei membri della band
				%>
				<li>Componenti della band<a href="#" class="aggiungi_membro">[aggiungi un nuovo membro]</a></li>	<hr>
				<%= text_field_tag "member[0][name]", nil, placeholder: "Cerca tra gli utenti..", class:"user_autocompletion", data: {provide: "typeahead"}, autocomplete: 'off' %>
				<%= hidden_field_tag "member[0][id]" %>
				<%= text_field_tag "member[0][role]", nil, placeholder: "Es. cantante, chitarrista...", class:"user_role" %>
				<a href="#" class="togli_membro btn btn-danger" id="togli_membro_0">Remove</a>
				
				<li>Genere:</li><hr>
				<% Genre.all.each do |genre| %>
					<% checkit = @band.music_genres.find_by_id(genre.id).nil? %>
					<div class="checkbox_container">
						<%= check_box_tag "genre[#{genre.id}]", 1, !@band.music_genres.find_by_id(genre.id).nil? %>
						<%= label_tag "genre[#{genre.id}]", genre.name %>
					</div>
				<% end %>
			</ol>

			<%= f.submit "Modifica Band", class:"btn btn-large btn-primary" %>		
		<% end %>
	</div>
<script type="text/javascript">
	var all_users = <%= @clean_users %>; //mi faccio dare dal controller tutti gli utenti
	$('.edit_band').submit(function() {
		if ($(this).valid())
			$("input[type='submit']").button("loading");
		return true;
	});
</script>
<%= javascript_include_tag "page-specific/band_member_selection" %>
	
</div>