<% provide(:title, @band.name) %>

<%
	#TODO comportamento dinamico quando divento fan o mi tolgo
	#TODO sistemare il layout in base alla lunghezza del nome utente e/o del nome della band
%>

<%= javascript_include_tag "page-specific/regola_altezza_aside" %>

<div class="row">
	
	<!--PARTE SINISTRA-->
	<div class="span7 offset1">
		<!-- versione desktop -->
		<div class="row hidden-phone" id="row_band">
			<div class="span2" id="foto_band">
				<%
					#TODO immagine associata alla band !
				%>
				<% @user = current_user%>
				<%= render 'users/profile_pic_logged', user: @user, size: "medium"%>
			</div>
			<div class="span5" id="descr_band">
				<div class="info_band">
					<h2><%= @band.name %></h2>
					<%
						#TODO spostare questo codice nel controller
						@str = ""
						i = 1;
						if (@band.music_genres.any?)
							@band.music_genres.each do |b|	
								@str = @str + b.name
								if (i<@band.music_genres.count)
									if (i==@band.music_genres.count-1)
										@str = @str + " e "
									else
										@str = @str + ", "
									end
								end
								i=i+1
							end
						end		
					%>
					<p><%= @str.html_safe %></p>
				</div>
				<div class="riepilogo">
					<span class="btn btn-success disabled">
						<span><%= @band_events.count %></span>
						<br /><%
						if @band_events.length!=1
							%>EVENTI<%
						else
							%>EVENTO<%
						end%></span>
					<span class="btn btn-success disabled">
						<span><%= @band.fans.count %></span>
						<br />FAN</span>
					<span class="btn btn-success disabled">
						<span><%= @total_audience %></span>
						<br />SPETTATORI</span>
				</div>
			</div>
		</div>
		<div class="row visible-phone">
			<%
				#TODO immagine associata alla band !
			%>
			<% @user = current_user%>
			<%= render 'users/profile_pic_logged', user: @user, size: "medium"%>
			<div class="info_band">
				<h2><%= @band.name %></h2>
				<p><%= @str.html_safe %></p>
				<%= render partial: 'bands/controls_fan', band: @band %>
			</div>
			<div class="riepilogo">
				<span class="btn btn-success disabled">
					<span><%= @band_events.count %></span>
					<br /><%
					if @band_events.length!=1
						%>EVENTI<%
					else
						%>EVENTO<%
					end%></span>
				<span class="btn btn-success disabled">
					<span><%= @band.fans.count %></span>
					<br />FAN</span>
				<span class="btn btn-success disabled">
					<span><%= @total_audience %></span>
					<br />SPETTATORI</span>
			</div>
		</div>
		<section id="bio_band">
			<h3>Biografia</h3>
			<p><%= @band.description%></p>
		</section>
		<section class="eventi">
			<h3>Eventi</h3>
			<ul id="tab_eventi_band" class="nav nav-tabs">
				<li class="active">
					<a href="#concerti_live" data-toggle="tab"><%= pluralize(@band_live_events.length, "Evento") %> live</a>
				</li>
				<li>
					<a href="#concerti_passati" data-toggle="tab"><%= pluralize(@band_past_events.length, "Evento") %> passati</a>
				</li>
				<li>
					<a href="#concerti_futuri" data-toggle="tab"><%= pluralize(@band_future_events.length, "Evento") %> futuri</a>
				</li>
			</ul>
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade in active" id="concerti_live">
					<div id="eventi_creati">
						<%= render collection: @band_live_events, partial: 'events/event' %>
					</div>
				</div>
				<div class="tab-pane fade" id="concerti_passati">
					<div id="eventi_partecipazione">
						<%= render collection: @band_past_events, partial: 'events/event' %>
					</div>
				</div>
				<div class="tab-pane fade" id="concerti_futuri">
					<div id="eventi_futuri">
						<%= render collection: @band_future_events, partial: 'events/event' %>
					</div>
				</div>
			</div>
		</section>
	</div>
	
	<!--PARTE DESTRA-->
	<aside class="span3">
		<% if !current_user?(@band.administrator) && signed_in? %>
		<section class="hidden-phone">
			<%= render partial: 'bands/controls_fan', band: @band %>
		</section>
		<% end %>
		<section class="membri">
			<h3>Membri</h3>
			<span class="badge badge-success"><%=@band.members.count%></span>
			<% @band.members.all.each do |member|
				@membro =  @band.user_band_relationships.find_by_user_id(member.id)
				@user=member%>
				<article>
					<%
						#TODO far funzionare il partial delle immagini.. il link è giusto ma l'immagine è sempre quella del current_user
					%>
					<a href="<%= user_path(member) %>"><%= render 'users/profile_pic', user:member, size:@size %></a>
					<p class="nome_membro"><b><%= link_to member.fullname, user_path(member) %></b></p>
					<p class="ruolo_membro"><%= @membro.role %></p>
				</article>
			<% end %>
		</section>
		<section class="elenco_immagini fan">
			<h3>Fan</h3>
			<span class="badge badge-success"><%= @band.fans.size %></span>
			<%
			max_img = 8;
			
			if (@band.fans.size == 0) then
				%><p>La band non ha nessun fan</p><%
			end
			
			n_img = 0;
			if @band.fans.any? 
           		@band.fans.each do |fan|
           			@user = fan
                  	@size = "thumb" %>
                        <a href="<%= user_path(@user) %>"><%= render 'users/profile_pic', user:@user, size:@size %></a>
           	<%
           				n_img = n_img+1;
           				break if (n_img==max_img)
           			end
           		end
           	%>
		</section>
		<%= render partial: 'bands/controls_edit', band: @band %>
	</div>
	
</div>
