//LAYOUT COMMENTI VISUALIZZATI NELL EVENTO SPECIFICO
.notifica_commento{
  float:left;
  .img_profilo{
    float:left;
    width:70px;
    height:70px;
  }
}
.elimina{
  position:absolute;
  right:10px;
}
.notifica_commento_info{
  position:absolute;
  left:75px;
  margin-left:10px;
}
article{
  position:relative;
}


//LAYOUT PAGINA EVENTO SPECIFICO

#row_evento {
  .riepilogo > span.long {
    width:303px;
  }
}

.mappa {
  margin-top:20px;
  margin-bottom:20px;
  #mappa_evento{
    width:100%;
    height:200px;
  }
  h3 {
    margin-bottom:10px;
  }
}

.event_description, .streamline {
  h3 {
    margin-bottom:10px;
    margin-top:10px;
  }
}

.streamline {
  div.comment_list {
    height:200px;
    overflow-y:scroll;
  }
}

/* ASIDE DI DESTRA*/

//Controlli "CONDIVIDI" ed "ELIMINA" nell'aside della pagina
section.share_controls {
  a {
    width:85px;
  }
}

aside.span3 {
  div:first-child:not(.eventi_consigliati) {
    margin-bottom:30px;
    margin-top:10px;
    .btn:not(.visible-phone) {
      display:block;
      width:150px;
      padding:10px;
      font-variant:small-caps;
      font-size:1.5em;
      margin-left:auto;
      margin-right:auto;
    }
  }
}

section.creato_da {
  position:relative;
  span.badge {
      position:absolute;
      top:3px;
      right:4px;
  }
  article {
    img {
      height:60px;
      float:left;
      margin-right:10px;
    }
    padding-bottom:7px;
    margin-bottom: 7px;
    &:last-child {
      border:none;
    }
    // border-bottom:1px solid #ccc;
    .nome_membro {
      padding-top:9px;
      margin-bottom:5px;
      color:black;
    }
    p.ruolo_membro {
      margin-bottom:9px;
      color:#bbb;
    }
  }
}

//LAYOUT VIGNETTA = pop up quando clicco su un evento nella mappa
.vignetta{
  overflow:hidden;
  //min-height:100px;
  img{
    float:left;
    width:50px;
    height:50px;
  }
  .info{
    margin-left:10px;
    float:left;
  }
}



/* MEDIA QUERIES */

@media (max-width: 480px) {
  div.row.visible-phone {
    .riepilogo > span.long {
      width:58%;
    }
  }
}

@media (max-width:767px) {
  
  div.row.visible-phone {
    .riepilogo > span.long {
      width:183px;
    }
  }
  section.share_controls {
    float:left;
    margin-right:40px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  
  #row_evento {
    .riepilogo > span.long {
      width:165px;
    }
  }

  section.share_controls {
    a:nth-of-type(1) {
      margin-bottom:8px;
    }
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  #row_evento {
  .riepilogo > span.long {
    width:243px;
  }
}
}

@media (min-width:1200px) {
  section.share_controls {
    a {
      margin-left:15px;
    }
  }
  
}