h1 {
  margin-top: 50px;
}

/*
 * FORM CREA E MODIFICA EVENTO
 */
.new_event, .edit_event {
  
  margin-top:20px;
  
  hr {
    margin: 5px 0px 10px 0px;
  }
  
  ol>li {
    clear:both;
    margin-top: 15px;
    font-size: 20px;
    font-weight: normal;
  }
  
  select {
    width: 60px;
    float:left;
    margin:-3px 3px 20px 0px;
    &:nth-of-type(1) {
      clear:left;
      width:52px;
    }
    &:nth-of-type(2) {
      width: 98px;
    }
    &:nth-of-type(3) {
      width: 64px;
    }
  }
  
  img {
    float: left;
    margin-bottom: 15px;
  }
  
  input[type="file"] {
    float:left;
    margin-left: 40px;
  }
  
  input {
    float:left;
    margin-bottom:15px;
  }
  
  
  #event_description {
    float:left;
    clear:left;
    margin-left:0px;
    padding:4px;
  }
  
  #dp_new {
    margin-left:0px;
    width:101px;
    margin-bottom: 15px;
  }
  
  #giorno {
    margin-bottom: 15px;
    width:auto;
    margin-left: 10px;
    float:left;
    label {
      width:64px;
    }
  }
  
  #dropdown-timepicker {
    float:left;
    margin-left: 10px;
    margin-bottom: 15px;
  }
  
  #show_hide_pin {
    float:right;
    margin-left: 30px;
    input {
      width: 100px;
      margin-left:10px;
      float:left;
    }
  }
  
  input[type="submit"] {
    clear:both;
    display:block;
    margin:40px 30px 30px auto;
    float:none;
  }
  
  
  .alert-error {
    margin-left: 20px;
    display:inline-block;
    float: left;
    padding: 4px 14px;
  }
  
  #error_explanation {
    .alert-error {
      display:block;
      float: none;
    }
  }
}

//DIMENSIONI MAPPE IN NEW E EDIT
#map-canvas-new_event, #map-canvas-edit_event{
  width: 100%;
  height: 250px;
}

//ELENCO DELLE BAND
#band_search {
  width: 277px;
  float: right;
}

.elenco_band {
  width: 247px;
  height: 160px;
  float: left;
  overflow-y: scroll;
  z-index: -1;
}
.elenco_band ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  height: 100%;
}

.elenco_band ul li:not(.placeholder) {
  margin: 3px;
  display:block;
  z-index: 10;
}

.ui-state-hover-sx {
  border-color: #F9A732;
}

.ui-state-hover-dx {
  border-color: #404040;
}

@media (min-width: 768px) and (max-width: 979px) {
  .elenco_band {
    width: 175px;
  }

  #band_search {
    width: 206px;
  }
  
}

@media (min-width: 1200px) {

  .elenco_band {
    width: 317px;
  }

  #band_search {
    width: 347px;
  }
}
