/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

@import "bootstrap";
@import "bootstrap-responsive";

/*
 * PARTI COMUNI
 */

/*
 * FONT
 */

@font-face {
    font-family: 'DaysRegular';
    src: url('Days-webfont.eot');
    src: url('Days-webfont.eot?#iefix') format('embedded-opentype'),
         url('Days-webfont.woff') format('woff'),
         url('Days-webfont.ttf') format('truetype'),
         url('Days-webfont.svg#DaysRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CicleSemi';
    src: url('Cicle_Semi-webfont.eot');
    src: url('Cicle_Semi-webfont.eot?#iefix') format('embedded-opentype'),
         url('Cicle_Semi-webfont.woff') format('woff'),
         url('Cicle_Semi-webfont.ttf') format('truetype'),
         url('Cicle_Semi-webfont.svg#CicleSemi') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* 
 * NAVBAR
*/
.navbar .brand {
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  
  background-image: url('favourite.png');
  background-repeat: no-repeat;
  background-position: 20px;
  padding-left: 60px;
}

.search-query {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/*
 * ERROR MESSAGES
 */
#error_explanation {
  color:#f00;
  ul {
    list-style: none;
    // margin: 0 0 18px 0;
  }
}

/*
 * FOOTER
 */

#page_footer {
  text-align: center;
  margin-bottom: 5px;
  ul {
    list-style: none;
    li {
      a {
        color: $grayLight;
      }
    }
  }
}

/* ESPERIMENTO */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  
  body: {
    width:100%;
  }
  
  h1 {
    color: red;
  }
}