$("#event<%= @event.id %> .participate_form")
	.html("<%= escape_javascript(render('events/unparticipate',event:@event)) %>");
$("#event<%= @event.id %> .partecipanti")
	.html('<%= @event.user_event_relationships.count %> <i class="icon-user icon-white"></i>')


$(".events_partecipate").each(function() {
	$(this).html("<%= escape_javascript(render('events/unparticipate',event:@event)) %>");
});
$('.utenti_partecipanti span')
	.html(<%= @event.participating_users.count %>);
$('.riepilogo span:last-child span')
	.html(<%= @event.participating_users.count %>);
<% @user=current_user %>
immagine = '<a href="<%= user_path(@user) %>"><%= render "users/profile_pic", user:@user, size:"small" %></a>';
$('.utenti_partecipanti').append(immagine);
$('.utenti_partecipanti p').remove();
