$("#event<%= @event.id %> .participate_form")
	.html("<%= escape_javascript(render('events/participate', event:@event)) %>");
$("#event<%= @event.id %> .partecipanti")
	.html('<%= @event.user_event_relationships.count %> <i class="icon-user icon-white"></i>');

$(".events_partecipate").each(function(){
	$(this).html("<%= escape_javascript(render('events/participate',event:@event)) %>");
});
$('.utenti_partecipanti span')
	.html(<%= @event.participating_users.count %>);
$('.riepilogo span:last-child span')
	.html(<%= @event.participating_users.count %>);
	
$('.utenti_partecipanti a[href="/users/<%= current_user.id %>"]').remove();
<% if (@event.participating_users.count==0) then%>
	$('.utenti_partecipanti').append("<p>Nessun partecipante</p>");
<%end%>