#benvenuto {
  margin-top:50px;
}

.new_user, .edit_user {
  
  margin-top:20px;
  
  hr {
    margin: 5px 0px 10px 0px;
  }
  
  ol li {
    clear:both;
    margin-top: 15px;
    font-size: 20px;
    font-weight: normal;
  }
  
  select {
    width: 60px;
    float:left;
    margin:-3px 3px 20px 0px;
    &:nth-of-type(1) {
      clear:left;
      width:52px;
    }
    &:nth-of-type(2) {
      width: 98px;
    }
    &:nth-of-type(3) {
      width: 64px;
    }
  }
  
  img {
    float: left;
    margin-bottom: 15px;
  }
  
  input[type="file"] {
    float:left;
    margin-left: 40px;
  }
  
  input {
    float:left;
    margin-bottom:15px;
  }
  
  input[type="password"] {
    clear:both;
  }
  
  div.checkbox_container {
    
    width: 130px;
    display: inline-block;
    
    input[type="checkbox"] {
      float: left;
      margin-right:10px;
    }
    
    label {
      float: left;
      margin-right: 10px;
    }
    
  }
  
  
  input[type="submit"] {
    clear:both;
    display:block;
    margin:40px 30px 30px auto;
    float:right;
  }
  
  
  .alert-error {
    margin-left: 20px;
    display:inline-block;
    float: left;
    padding: 4px 14px;
  }
  
  #error_explanation {
    .alert-error {
      display:block;
      float: none;
    }
  }
}