//LAYOUT PAGINA PROFILO -------------------------
//prima "riga"
#row_profilo, #row_band, #row_evento {
  margin-top:50px;
  #foto_profilo img, #foto_band img, #foto_evento img {
    width:130px;
    height:130px;
  }
  #descr_profilo, #descr_band, #descr_evento {
    .info_utente, .info_band, .info_evento {
      height:63px;
    }
    height:130px;
    margin-left:-20px;
    width:520px;
    position:relative;
    [id*=user_controls], [id*=band_controls], [id*=event_controls] {
      position:absolute;
      top:4px;
      right:0px;
      a{
        width:83px;
      }
    }
  }
  .riepilogo > span {
    span {
      font-size:22px;
      line-height:24px;
    }
    display:block;
    float:left;
    color:white;
    width:128px;
    padding:7px 20px;
    height:45px;
    margin-right:5px;
    margin-top:6px;
    &:last-child {
      margin-right:0px;
    }
  }
}

div.row.visible-phone {
  
  position:relative;
  
  img {
    width:130px;
    height:130px;
    float:left;
  }
  
  .info_utente, .info_band, .info_evento {
    float:left;
    margin-left:10px;
    width:45%;
    h2 {
      line-height:26px;
      margin-bottom:8px;
    }
    p {
      margin-bottom:0px;
    }
    [id*=user_controls], [id*=band_controls], [id*=event_controls] {
      position:absolute;
      top:4px;
      right:0px;
      a{
        width:83px;
      }
    }
  }
  .riepilogo {
    position:absolute;
    bottom:0px;
    left:140px;
    &>span {
      br {
        display:none;
      }
      span {
        font-size:18px;
        line-height:24px;
      }
      display:block;
      float:left;
      color:white;
      height:45px;
      margin-right:5px;
      margin-top:6px;
      &:last-child {
        margin-right:0px;
      }
      padding:7px 7px;
      width:81px;
      font-size:11px;
    }
  }
}

//commenti
.commenti_recenti, div.comment_list {
  position:relative;
  margin-top:20px;
  margin-bottom:20px;
  
  h3 {
    margin-bottom:10px;
  }
  
  a.more {
    position:absolute;
    top:7px;
    right:10px;
  }
  
  .user_comment_recent, .event_comment {
    padding:5px;
    margin-bottom:5px;
    img {
      width:60px;
      height:60px;
    }
    .span6 {
      margin-left:0px;
      span {
        font-size:10px;
        a {
          font-size:14px;
        }
      }
      p {
        margin-top:5px;
        margin-bottom:0px;
      }
    }
  }
}

.eventi > h3, #bio_band > h3 {
  margin-bottom:10px;
}

//colonna laterale destra
aside.span3 {
  margin-top:50px;
  margin-left:15px;
  padding-left:14px;
  border-left:1px solid #ccc;

  //generali su ogni section
  section {
    margin-bottom:10px;
    padding-bottom:10px;
    // border-bottom:1px solid #ccc;
    h3 {
      margin-bottom: 10px;
      span {
        vertical-align:top;
      }
    }
  }
  
  //sezione dei badges
  section.badges {
    position:relative;
    span.badge {
      position:absolute;
      top:4px;
      right:4px;
    }
    img.badge_sniff {
      width:60px;
      height:60px;
      margin-left: 4px;
      margin-bottom:6px;
    }
  }
  
  //sezioni con elenchi immagini (followed, follower, fan, bands)
  section.elenco_immagini {
    position:relative;
    span.badge {
      position:absolute;
      top:3px;
      right:4px;
    }
    img {
      width:60px;
      margin-left: 4px;
      margin-bottom:6px;
    }
  }
}

//MEDIA QUERIES ---------------------------
/* Landscape phones and down */
@media (max-width: 480px) {
  
  div.row.visible-phone {
    img {
      width:80px;
      height:80px;
    }
    
    .riepilogo {
      clear:left;
      position:static;
    }
    
    .riepilogo > span {
      br {
        display:block;
      }
      span {
        font-size:16px;
        line-height:24px;
      }
      height:45px;
      margin-right:3%;
      margin-top:6px;
      &:last-child {
        margin-right:0px;
      }
      padding:7px 5px;
      width:28%;
      font-size:11px;
    }
  }
  .commenti_recenti, div.comment_list {
    .user_comment_recent, .event_comment {
      .span1 {
        float:left;
      }
      .span6 {
        margin-left:70px;
      }
      a.preferito {
        position:absolute;
        top:3px;
        right:5px;
      }
    }
  }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .commenti_recenti, div.comment_list {
    .user_comment_recent, .event_comment {
      .span1 {
        float:left;
      }
      .span6 {
        margin-left:70px;
      }
      a.preferito {
        position:absolute;
        top:3px;
        right:5px;
      }
    }
  }
  
  aside.span3 {
    border:none;
    margin-top:30px !important;
    padding-left:0px;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  #row_profilo, #row_band, #row_evento {
    margin-top:0px;
    #descr_profilo, #descr_band, #descr_evento {
      [id*=user_controls], [id*=band_controls], [id*=event_controls] {
        bottom:0px;
        left:-144px;
        top:auto;
        right:auto;
        a {
          width:110px;
        }
      }
      width:270px;
      margin-left:40px;
    }
    .riepilogo > span {
      br {
        display:none;
      }
      span {
        font-size:18px;
        line-height:24px;
      }
      padding:7px 5px;
      width:74px;
      font-size:11px;
    }
  }
  .commenti_recenti, div.comment_list {
    .user_comment_recent, .event_comment {
      .span6 {
        margin-left:26px;
        width:330px;
      }
      
      a.preferito {
        position:absolute;
        top:3px;
        right:5px;
      }
    }
    
    .event_comment {
        .span6 {
          width:293px;
        } 
      }
  }
  
  aside.span3 {
    margin-top:0px;
    section.badges {
      img.badge_sniff {
        height:48px;
        width:48px;
      }
    }
    section.elenco_immagini {
      img {
        width:48px;
      }
    }
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  #row_profilo, #row_band, #row_evento {
    #descr_profilo, #descr_band, #descr_evento {
      width:400px;
      margin-left:0px;
    }
    .riepilogo > span {
      span {
        font-size:18px;
        line-height:24px;
      }
      padding:7px 10px;
      width:108px;
      font-size:11px;
    }
  } 
 
  .commenti_recenti, div.comment_list {
    .user_comment_recent, .event_comment {
      .span6 {
        margin-left:7px;
      }
      
      a.preferito {
        position:absolute;
        top:3px;
        right:5px;
      }
    }
    
    .event_comment {
        .span6 {
          width:420px;
        } 
      }
    
  }

  aside.span3 {
    section.badges {
      img.badge_sniff {
        height:48px;
        width:48px;
      }
    }
    section.elenco_immagini {
      img {
        width:48px;
      }
    }
  }

}

@media (min-width:1200px) {
  #eventi_creati, #eventi_partecipazione, #eventi_futuri {
    margin-left:0px;
    .participate_form {
      margin-top:10px;
    }
  }
  .commenti_recenti, div.comment_list {
    .event_comment {
        .span6 {
          width:530px;
        } 
      }
  }
}
