<hr>
<footer id="page_footer">

  <nav class="row">
    <ul>
      	<li class="span2">
		  	<a href="https://bitbucket.org/luigidr/lam2012"><span class="label label-inverse">Repository</span></a>
  		</li>

		<li class="span1 offset7"><a href="http://bit.ly/lingambmult">News</a></li>
      
      	<li class="span1"><%= link_to "About", about_path %></li>
    </ul>
  </nav>
  
</footer>