<!-- Navigation bar -->
<header class="navbar navbar-fixed-top">
  	<div class="navbar-inner">
  	  	<div class="container">
  	    	
  	    	<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
		    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		    </a>
		    
		    <a class="brand" href="<%=root_path%>">SniffSound</a>
			
			<div class="nav-collapse">
	  	    <% if !signed_in? %>
	  	    	<ul class="nav pull-right">
			  		<li><%= link_to "Aiuto", "#" %></li>
			  		<li class="divider-vertical"></li>
			  		<li><a href="#" onclick="$('#homeCarousel').carousel(4);">Registrati</a></li>
       				<li class="divider-vertical"></li>
			  		<li><a data-toggle="modal" href="#loginModale">Accedi</a></li>
	        	</ul>
	        <% else %>
	        	<ul class="nav pull-right">
		        	<li><%= form_tag search_path, method: 'get', class: 'navbar-search pull-left' do %>
								<%= text_field_tag :search, params[:search], class: 'search-query span2', placeholder:'cerca qualcosa..' %>
						<% end %>
					</li>
					<li class="divider-vertical"></li>
		        	<li><%= link_to "Crea Evento", new_event_path %></li>
		    		<li class="divider-vertical"></li>
		    		<li><%= link_to "Registra Band", new_band_path %></li>
		    		<li class="divider-vertical"></li>
				  	<li><%= link_to "Eventi", explore_path %></li>
		    		<li class="divider-vertical"></li>
				  	<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	          				<%=@current_user.fullname%>
	          				<b class="caret"></b>
	    				</a>
						<ul class="dropdown-menu">
							<li><%= link_to "Profilo Pubblico", user_path(current_user) %></li>
							<li><%= link_to "Dati Personali", edit_user_path(current_user) %></li>
							<li><%= link_to "Esci", signout_path, method: "delete" %></li>
						</ul>
					</li>
	        	</ul>
	        <% end %>
	        </div>
		</div>
	</div>
</header>

<% if !signed_in? %>
<!-- Solo se l'utente non è loggato.. -->
<%= render 'sessions/new' %>
<% end %>
