<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<link rel="SHORTCUT ICON" href="assets/favourite.png"/>
		<!-- The following Rails functions tell the application to use application.css (that automatically includes the CSS files created with the controllers)
		  	as stylesheet and application.js as javascript resource -->
		<%= stylesheet_link_tag "application", :media => "all" %>
		<% # the previous line is equal to stylesheet_link_tag"application", { :media => "all" }) %>
		<%= javascript_include_tag "application" %>

		<!-- The following Rails method automatically prevents Cross-Site Request Forgery (see http://en.wikipedia.org/wiki/Cross-site_request_forgery for further information) -->
		<%= csrf_meta_tags %>
		<%= render 'layouts/shim' %>

		<%= @extra_head_content %>
		  
		<!-- <link rel="SHORTCUT ICON" href="favourite.png"/> -->
		
	</head>
	<body <% if (yield(:title) == 'Bacheca') %>onload="initialize()"<% end %> >
	    <%= render 'layouts/header' %>
	    <!-- Main content -->
	    <% if (yield(:title) != 'Esplora') %><div class="container"><% end %>
			<%= yield %>
			<%= if (yield(:title) != 'Esplora')
					render 'layouts/footer'
				end
			%>
	    <% if (yield(:title) != 'Esplora') %></div><% end %>
	    
<!-- 	    <%= debug(params) if Rails.env.development? %> -->	    
	</body>
</html>
